<div class="tab-pane fade in active"  id="tableApp">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="#tableApp" class="close" 
                aria-controls="tableApp" role="tab" 
                (click)="applicationView()" data-toggle="tab">&times;</a>
            <h4>{{formMode}} Application</h4>
        </div>
        <div class="panel-body">
            <br />
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="active">
                            <a href="#appDetails" aria-controls="appDetails" role="tab" data-toggle="tab">Details</a>
                        </li>
                        <li role="presentation" *ngIf="selectedApp.AppID == 0 ? false : true" >
                            <a href="#appFeatures" 
                             aria-controls="appFeatures" role="tab" data-toggle="tab">Features</a>
                        </li>
                    </ul>
                    <!--[hidden]="selectedApp.AppID==0 ? true : null"-->
                </div>
                <div class="col-md-10">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="appDetails">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#primaryDetails">Primary Details</a>
                                                </h4>
                                            </div>
                                            <div id="primaryDetails" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <label>Application Name</label>
                                                    <input type="text" [(ngModel)]="selectedApp.AppName" class="form-control input-sm" />
                                                    <br />
                                                    <label>Description</label>
                                                    <textarea style="height:100px;;"
                                                        [(ngModel)]="selectedApp.AppDesc" class="form-control input-sm"></textarea>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <input id="chkActive" [(ngModel)]="selectedApp.AppIsActive"
                                                                type="checkbox" class="css-checkbox med" ><label for="chkActive" class="css-label med elegant">Is Active?</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input id="chkPII"  [(ngModel)]="selectedApp.AppPII"
                                                                type="checkbox" class="css-checkbox med" ><label for="chkPII" class="css-label med elegant">Is PII?</label>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-9 col-md-offset-3">
                                                            <label>Security</label>
                                                            <input type="text"  [(ngModel)]="selectedApp.AppSecurity" class="form-control input-sm" />
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Date Implemented</label>
                                                            <!--<input type="text"  [value]="getDate(1)" class="form-control input-sm" />-->
                                                            <input
                                                                [(ngModel)]="selectedApp.DateImplemented"
                                                                class="form-control input-sm"
                                                                ng2-datetime-picker
                                                                date-only="true" 
                                                            />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Last Production Date</label>
                                                            <my-date-picker [options]="myDatePickerOptions"
                                                                [(ngModel)]="date_lastProd"
                                                                (dateChanged)="onDateChanged($event,1)"></my-date-picker>
                                                            <!--<input
                                                                [(ngModel)]="selectedApp.LastProdDate"
                                                                class="form-control input-sm"
                                                                ng2-datetime-picker
                                                                date-only="true" 
                                                            />-->
                                                            <!--<input type="text"  [value]="dt" class="form-control input-sm" />-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#buDetails">Business Unit Details</a>
                                                </h4>
                                            </div>
                                            <div id="buDetails" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>BU Owner</label>
                                                            <select class="form-control input-sm"
                                                                 [(ngModel)]="selectedApp.AppBU"
                                                                 required
                                                            >
                                                                <option *ngFor="let bu of dropDownBU" [value]="bu.BUID">{{bu.BUName}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Primary Contact</label>
                                                            <select class="form-control input-sm"
                                                                [(ngModel)]="selectedApp.PrimaryBUContact"
                                                                required
                                                            >
                                                                <option *ngFor="let con1 of dropDownContact1" [value]="con1.ContactID">{{con1.FirstName + ' ' +con1.LastName}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Secondary Contact</label>
                                                            <select class="form-control input-sm"
                                                                [(ngModel)]="selectedApp.SecondaryBUContact"
                                                            >
                                                                <option *ngFor="let con2 of dropDownContact2" [value]="con2.ContactID">{{con2.FirstName + ' ' +con2.LastName}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#techDetails">Technology Details</a>
                                                </h4>
                                            </div>
                                            <div id="techDetails" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <input id="chkWeb"  type="checkbox" 
                                                                [(ngModel)]="selectedApp.AppIsWeb"
                                                                class="css-checkbox med" >
                                                            <label for="chkWeb" class="css-label med elegant">Is Web?</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input id="chkUat" type="checkbox"
                                                                [(ngModel)]="selectedApp.IsUatAvail" 
                                                                class="css-checkbox med" >
                                                            <label for="chkUat" class="css-label med elegant">UAT Accessible?</label>
                                                        </div>
                                                        <br />
                                                        <div class="col-md-6">
                                                            <label>Front-end Technology</label>
                                                            <select class="form-control input-sm"
                                                                 [(ngModel)]="selectedApp.FrontTechnology"
                                                                 required
                                                            >
                                                                <option *ngFor="let fe of feTech" [value]="fe">{{fe}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Back-end Technology</label>
                                                            <select class="form-control input-sm"
                                                                 [(ngModel)]="selectedApp.BackTechnology"
                                                                 required
                                                            >
                                                                <option *ngFor="let be of beTech" [value]="be">{{be}}</option>
                                                            </select>
                                                        </div>
                                                        
                                                    </div>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Lifespan</label>
                                                            <input  [(ngModel)]="selectedApp.AppLifespan"
                                                                pattern="[0-9]+"
                                                                type="text" class="form-control input-sm" />
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Version</label>
                                                            <input type="text" [(ngModel)]="selectedApp.AppVersion"  
                                                                class="form-control input-sm" />
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <label>DEV Environment ID</label>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <input type="text" [(ngModel)]="selectedApp.ProjectDevID"
                                                                    class="form-control input-sm" 
                                                                    placeholder="Project ID"/>
                                                                <span class="input-group-btn">
                                                                    <a (click)="mode=1" class="btn btn-default btn-sm"  data-toggle="modal" data-target="#modalSearchProject">
                                                                        <span class="glyphicon glyphicon-search"></span>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control input-sm" placeholder="Project Name"/>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <label>UAT Environment ID</label>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control input-sm"
                                                                    [(ngModel)]="selectedApp.ProjectModID"
                                                                    placeholder="Project ID"/>
                                                                <span class="input-group-btn">
                                                                    <a (click)="mode=2" class="btn btn-default btn-sm"  data-toggle="modal" data-target="#modalSearchProject">
                                                                        <span class="glyphicon glyphicon-search"></span>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control input-sm" placeholder="Project Name"/>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <label>PROD Environment ID</label>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <input type="text" [(ngModel)]="selectedApp.ProjectOpsID"
                                                                    class="form-control input-sm" placeholder="Project ID"/>
                                                                <span class="input-group-btn">
                                                                    <a (click)="mode=3" class="btn btn-default btn-sm"  data-toggle="modal" data-target="#modalSearchProject">
                                                                        <span class="glyphicon glyphicon-search"></span>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control input-sm" placeholder="Project Name"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="appFeatures"  >
                            <div class="row">
                                <a href="#" class="btn btn-default btn-md">New Item <span class="glyphicon glyphicon-plus-sign"></span></a>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped">
                                        <tr>
                                            <td>
                                                <a href="#" class="accordion-toggle" data-toggle="collapse" data-target="#feature"><span class="glyphicon glyphicon-list-alt"></span> Feature 1</a>
                                                <div class="collapse in" id="feature">
                                                    <div class="bs-callout bs-callout-primary">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label>Function</label>
                                                                <input type="text" class="form-control input-sm" />
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label>Description</label>
                                                                <textarea class="form-control input-sm" style="height: 50px;"></textarea>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label>Screenshot</label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control input-sm" id="txtFilePath"/>
                                                                    <span class="input-group-btn">
                                                                        <a href="#" class="btn btn-default btn-sm" id="btnOpenFile">
                                                                            <span class="glyphicon glyphicon-folder-open"></span>
                                                                        </a>
                                                                        <input type="file" style="display:none" id="screenshot" name="postFile"/>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="modalSearchProject" class="modal fade" role="dialog">
                            <proj-list [mode]="mode" [application]="selectedApp"></proj-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-right">
                        <button [disabled]="checkState()" (click)="submitApp()" class="btn btn-primary btn-md">Submit&nbsp;<span class="glyphicon glyphicon-floppy-disk"></span></button>
                        <a (click)="applicationView()" class="btn btn-default btn-md" aria-controls="tableApp" role="tab" data-toggle="tab">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>