<!--Header and Breadcrumb-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="active">Applications Catalog</li>
            </ol>
        </div>
    </div>
    <h3>Applications Catalog</h3>
</div>
<!--View Selector and Searchbar-->
<div class="container">
    <!--<div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-default btn-md" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Favorite Apps..."><span class="glyphicon glyphicon-star"></span></a>
                    <a href="#" class="btn btn-default btn-md" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Available for you..."><span class="glyphicon glyphicon-bookmark"></span></a>
                    <a href="#" class="btn btn-default btn-md" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="All BizTech Apps..."><span class="glyphicon glyphicon-list-alt"></span></a>
                </div>
            </div>
        </div>
    </div>-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
                        <ul class="nav nav-pills nav-justified">
                            <li role="presentation">
                                <a href="#favorites" aria-controls="favorites" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-star"></span> Favorites</a>
                            </li>
                            <li role="presentation">
                                <a href="#available" aria-controls="available" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-bookmark"></span> Available Apps</a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="#allapps" aria-controls="allapps" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> All BizTech Apps</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <br />
    
</div>
<br />
<!--data-->

<div class="container">
    <div class="tab-content">
        <div class="tab-pane fade" id="favorites">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-2">
                        <img src="images/About-96.png">
                    </div>
                    <div class="col-md-10">
                        <h2>You haven't marked any app to your favorites list.</h2>
                        <p><small>You can add your apps to your favorites, just go to the Available Apps tab then click the star button.</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="available">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-2">
                        <img src="images/About-96.png">
                    </div>
                    <div class="col-md-10">
                        <h2>There are no available apps for you.</h2>
                        <p><small>If you think there is an issue retrieving your apps, please contact Site Administrator. Thank you.</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in active" id="allapps">
            <ac-grid *ngIf="viewtype==0" [listApps]="listApps"></ac-grid>
            <ac-list *ngIf="viewtype==1" [apps]="apps"></ac-list>
        </div>
    </div>
</div>