<!--Header and Breadcrumb-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="active">Applications Catalog</li>
            </ol>
        </div>
    </div>
    <h3>Applications Catalog</h3>
</div>
<!--View Selector and Searchbar-->
<div class="container">
    <!--<div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-default btn-md" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Favorite Apps..."><span class="glyphicon glyphicon-star"></span></a>
                    <a href="#" class="btn btn-default btn-md" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Available for you..."><span class="glyphicon glyphicon-bookmark"></span></a>
                    <a href="#" class="btn btn-default btn-md" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="All BizTech Apps..."><span class="glyphicon glyphicon-list-alt"></span></a>
                </div>
            </div>
        </div>
    </div>-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
                        <ul class="nav nav-pills nav-justified">
                            <li role="presentation">
                                <a href="#favorites" aria-controls="favorites" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-star"></span> Favorites</a>
                            </li>
                            <li role="presentation">
                                <a href="#available" aria-controls="available" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-bookmark"></span> Available Apps</a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="#allapps" aria-controls="allapps" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> All BizTech Apps</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <br />
    
</div>
<br />
<!--data-->
<!--<ac-grid *ngIf="viewtype==0" [listApps]="listApps"></ac-grid>
<ac-list *ngIf="viewtype==1" [apps]="apps"></ac-list>-->
<div class="container">
    <div class="tab-content">
        <div class="tab-pane fade" id="favorites">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-2">
                        <img src="images/About-96.png">
                    </div>
                    <div class="col-md-10">
                        <h2>You haven't marked any app to your favorites list.</h2>
                        <p><small>You can add your apps to your favorites, just go to the Available Apps tab then click the star button.</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="available">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-2">
                        <img src="images/About-96.png">
                    </div>
                    <div class="col-md-10">
                        <h2>There are no available apps for you.</h2>
                        <p><small>If you think there is an issue retrieving your apps, please contact Site Administrator. Thank you.</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in active" id="allapps">
            <div class="row">
                <div class="col-md-12"><!--Added-->
                    <div class="col-md-6">
                        <div class="searchbox">
                            <input type="text" class="form-control input-sm" placeholder="Search for apps..."/>
                            <span class = "glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="btn-group">
                                <a href="#" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><span class="glyphicon glyphicon-export"></span>&nbsp;Export App List</a></li>
                                    <li><a (click)="viewtype=1"><span class="glyphicon glyphicon-th-list"></span>&nbsp;List View</a></li>
                                    <li><a (click)="viewtype=0"><span class="glyphicon glyphicon-th"></span>&nbsp;Grid View</a></li>
                                    <li><a routerLink="/Maintenance"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Maintenance</a></li>
                                    <!--<li role="separator" class="divider"></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--Added-->
            </div>
            <br />
            <div class="row">
                <div class=col-md-12>
                    <label>Availability Indicators</label>
                    <div class="btn btn-circle btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></div> Available&nbsp;|&nbsp;
                    <div class="btn btn-circle btn-warning btn-xs"><span class="glyphicon glyphicon-alert"></span></div> Scheduled Maintenance&nbsp;|&nbsp;
                    <div class="btn btn-circle btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></div> Unavailable (System Downtime/Ongoing Maintenance)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <a href="#tmb1" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Operations Scorecard">
                        <div class="thumbnail" id="tmb1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <div class="btn btn-circle btn-success btn-xs">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <fieldset class="favorite">
                                                <input type="checkbox" id="star1" name="rating1"/><label for="star1" title="Mark as Favorite">1 star</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="images/AppLogo.png" class="thumbnail-img">
                            <div class="caption">
                                <p><strong>Operations Scorecard</strong></p>
                                <p><span class="glyphicon glyphicon-user"></span> Amy Miskavitch</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                        <button type="button" class="btn btn-default btn-sm" onclick="viewDetails()">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#tmb2" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Structured Settlement">
                        <div class="thumbnail" id="tmb2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <div class="btn btn-circle btn-success btn-xs">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <fieldset class="favorite">
                                                <input type="checkbox" id="star2" name="rating2"/><label for="star2" title="Mark as Favorite">1 star</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="images/AppLogo.png" class="thumbnail-img">
                            <div class="caption">
                                <p><strong>Structured Settlement</strong></p>
                                <p><span class="glyphicon glyphicon-user"></span> Kristen Flaherty</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                        <button type="button" class="btn btn-default btn-sm">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#tmb3" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Benefits Estimates">
                        <div class="thumbnail" id="tmb3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <div class="btn btn-circle btn-success btn-xs">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <fieldset class="favorite">
                                                <input type="checkbox" id="star3" name="rating3"/><label for="star3" title="Mark as Favorite">1 star</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="images/AppLogo.png" class="thumbnail-img">
                            <div class="caption">
                                <p><strong>Benefits Estimates</strong></p>
                                <p><span class="glyphicon glyphicon-user"></span> Kristen Flaherty</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                        <button type="button" class="btn btn-default btn-sm">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#tmb4" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Do-not-call">
                        <div class="thumbnail" id="tmb4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <div class="btn btn-circle btn-warning btn-xs">
                                                <span class="glyphicon glyphicon-alert"></span>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <fieldset class="favorite">
                                                <input type="checkbox" id="star4" name="rating4"/><label for="star4" title="Mark as Favorite">1 star</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="images/AppLogo.png" class="thumbnail-img">
                            <div class="caption">
                                <p><strong>Do-not-call</strong></p>
                                <p><span class="glyphicon glyphicon-user"></span> Brent Morrison</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                        <button type="button" class="btn btn-default btn-sm">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="#tmb5" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Project Plan - Generic">
                        <div class="thumbnail" id="tmb5">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <div class="btn btn-circle btn-success btn-xs">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <fieldset class="favorite">
                                                <input type="checkbox" id="star5" name="rating5"/><label for="star5" title="Mark as Favorite">1 star</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="images/AppLogo.png" class="thumbnail-img">
                            <div class="caption">
                                <p><strong>Project Plan - Generic</strong></p>
                                <p><span class="glyphicon glyphicon-user"></span> Kara Vopalensky</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                        <button type="button" class="btn btn-default btn-sm">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#tmb6" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Project Plan">
                        <div class="thumbnail" id="tmb6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <div class="btn btn-circle btn-danger btn-xs">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <fieldset class="favorite">
                                                <input type="checkbox" id="star6" name="rating6"/><label for="star6" title="Mark as Favorite">1 star</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="images/AppLogo.png" class="thumbnail-img">
                            <div class="caption">
                                <p><strong>Project Plan</strong></p>
                                <p><span class="glyphicon glyphicon-user"></span> Melissa Nei</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                        <button type="button" class="btn btn-default btn-sm">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#tmb7" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="SPRNT Tax">
                        <div class="thumbnail" tmb="tmb7">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <div class="btn btn-circle btn-success btn-xs">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <fieldset class="favorite">
                                                <input type="checkbox" id="star7" name="rating7"/><label for="star7" title="Mark as Favorite">1 star</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="images/AppLogo.png" class="thumbnail-img">
                            <div class="caption">
                                <p><strong>SPRNT Tax</strong></p>
                                <p><span class="glyphicon glyphicon-user"></span> Melissa Nei</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                        <button type="button" class="btn btn-default btn-sm">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#tmb8" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="SPRNT Tax Team Balancing">
                        <div class="thumbnail" id="tmb8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <div class="btn btn-circle btn-warning btn-xs">
                                                <span class="glyphicon glyphicon-alert"></span>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <fieldset class="favorite">
                                                <input type="checkbox" id="star8" name="rating8"/><label for="star8" title="Mark as Favorite">1 star</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="images/AppLogo.png" class="thumbnail-img">
                            <div class="caption">
                                <p><strong>SPRNT Tax Team Balancing</strong></p>
                                <p><span class="glyphicon glyphicon-user"></span> Melissa Nei</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                        <button type="button" class="btn btn-default btn-sm">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="#tmb9" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Vulnerability Tracker">
                        <div class="thumbnail" id="tmb9">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <div class="btn btn-circle btn-success btn-xs">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <fieldset class="favorite">
                                                <input type="checkbox" id="star9" name="rating9"/><label for="star9" title="Mark as Favorite">1 star</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="images/AppLogo.png" class="thumbnail-img">
                            <div class="caption">
                                <p><strong>Vulnerability Tracker</strong></p>
                                <p><span class="glyphicon glyphicon-user"></span> David Rawlings</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                        <button type="button" class="btn btn-default btn-sm">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#tmb10" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Business Technologies Security System">
                        <div class="thumbnail" id="tmb10">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <div class="btn btn-circle btn-success btn-xs">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <fieldset class="favorite">
                                                <input type="checkbox" id="star10" name="rating10"/><label for="star10" title="Mark as Favorite">1 star</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="images/AppLogo.png" class="thumbnail-img">
                            <div class="caption">
                                <p><strong>Business Technologies Security...</strong></p>
                                <p><span class="glyphicon glyphicon-user"></span> Ken Conway</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                        <button type="button" class="btn btn-default btn-sm">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#tmb11" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="TIN Matching">
                        <div class="thumbnail" id="tmb11">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <div class="btn btn-circle btn-success btn-xs">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <fieldset class="favorite">
                                                <input type="checkbox" id="star11" name="rating11"/><label for="star11" title="Mark as Favorite">1 star</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="images/AppLogo.png" class="thumbnail-img">
                            <div class="caption">
                                <p><strong>TIN Matching</strong></p>
                                <p><span class="glyphicon glyphicon-user"></span> Daniel Slawski</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                        <button type="button" class="btn btn-default btn-sm">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#tmb12" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Vantage Tax Team Balancing">
                        <div class="thumbnail" id="tmb12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <div class="btn btn-circle btn-success btn-xs">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <fieldset class="favorite">
                                                <input type="checkbox" id="star12" name="rating12"/><label for="star12" title="Mark as Favorite">1 star</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="images/AppLogo.png" class="thumbnail-img">
                            <div class="caption">
                                <p><strong>Vantage Tax Team Balancing</strong></p>
                                <p><span class="glyphicon glyphicon-user"></span> Melissa Nei</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                        <button type="button" class="btn btn-default btn-sm">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>