<!--Header and Breadcrumb-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="active">Applications Catalog</li>
            </ol>
        </div>
    </div>
    <h3>Applications Catalog</h3>
</div>
<!--View Selector and Searchbar-->
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
                        <ul class="nav nav-pills nav-justified">
                            <li role="presentation">
                                <a href="#favorites" (click)="getMyFavApps()" aria-controls="favorites" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-star"></span> Favorites</a>
                            </li>
                            <li role="presentation">
                                <a href="#available" (click)="getMyAvailApps()" aria-controls="available" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-bookmark"></span> Available Apps</a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="#allapps" (click)="getAllApps()" aria-controls="allapps" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> All BizTech Apps</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12"><!--Added-->
                <div class="col-md-6">
                    <div class="searchbox">
                        <input type="text" class="form-control input-sm" placeholder="Search for apps..."/>
                        <span class = "glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <div class="btn-group">
                            <a href="#" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="glyphicon glyphicon-export"></span>&nbsp;Export App List</a></li>
                                <li><a (click)="viewtype=1"><span class="glyphicon glyphicon-th-list"></span>&nbsp;List View</a></li>
                                <li><a (click)="viewtype=0"><span class="glyphicon glyphicon-th"></span>&nbsp;Grid View</a></li>
                                <li><a routerLink="/Maintenance"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Maintenance</a></li>
                                <!--<li role="separator" class="divider"></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--Added-->
        </div>
        <br />
        <div class="row" hidden>
            <div class=col-md-12>
                <label>Availability Indicators</label>
                <div class="btn btn-circle btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></div> Available&nbsp;|&nbsp;
                <div class="btn btn-circle btn-warning btn-xs"><span class="glyphicon glyphicon-alert"></span></div> Scheduled Maintenance&nbsp;|&nbsp;
                <div class="btn btn-circle btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></div> Unavailable (System Downtime/Ongoing Maintenance)
            </div>
        </div>
        <br />
    </div>
</div>
<div class="container">
    <div class="tab-content">
        <div class="tab-pane fade" id="favorites">
            <ac-nofav *ngIf="tabselected==2 && apps.length==0"></ac-nofav>
        </div>
        <div class="tab-pane fade" id="available">
            <ac-noavail *ngIf="tabselected==1 && apps.length==0"></ac-noavail>
        </div>
        <div class="tab-pane fade in active" id="allapps">
            
        </div>
        <ac-grid *ngIf="viewtype==0 && apps.length>0" [listApps]="listApps"></ac-grid>
        <ac-list *ngIf="viewtype==1 && apps.length>0" [apps]="apps" (refreshFav)="getMyFavApps()"></ac-list>
    </div>
</div>