<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="Index.html">Applications Catalog</a></li> <!--Will go to previous view. If the previous was grid view, then should be grid view. Else if list view, then list view-->
                <li class="active">{{app.AppName}}</li>
            </ol>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Details</a></li>
                    <li role="presentation"><a href="#features" aria-controls="features" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Features</a></li>
                    <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-comment"></span>&nbsp;Reviews</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <a href="#" class="btn btn-default btn-md dropdown-toggle option-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-export"></span>&nbsp;Export to PDF</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>
<br />
<!--Data-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="details">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Details</h4>
                            <p>About this app.</p>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="pull-left">
                                                            <div class="btn btn-circle btn-success btn-xs">
                                                                <span class="glyphicon glyphicon-ok"></span>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="col-md-6">
                                                        <div class="pull-right">
                                                            <fieldset class="favorite">
                                                                <input type="checkbox" id="star" name="rating"/><label for="star" title="Mark as Favorite">1 star</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <img src="images/AppLogo.png" class="thumbnail-display-img">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="btn-group pull-right" role="group">
                                                        <button type="button" class="btn btn-default btn-sm" disabled>Run Test</button>
                                                        <button type="button" class="btn btn-default btn-sm">Run Production</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="bs-callout bs-callout-primary">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-hover table-striped">
                                                        <tr>
                                                            <th class="col-md-3">Application Name</th>
                                                            <td class="col-md-9">{{app.AppName}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="col-md-3">Description</th>
                                                            <td class="col-md-9">{{app.AppDesc}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bs-callout bs-callout-default">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>Business Unit Info</h4>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-hover table-striped">
                                                    <tr>
                                                        <th class="col-md-4">BU Owner</th><td class="col-md-8">{{app.BUName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Primary Contact</th><td class="col-md-8">{{app.buContact1}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Secondary Contact</th><td class="col-md-8">{{app.buContact2}}</td>
                                                    </tr>                                                            
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bs-callout bs-callout-info">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>App Info</h4>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-hover table-striped">
                                                    <tr>
                                                        <th class="col-md-4">Front-end Technology</th><td class="col-md-8">{{app.FrontTechnology}}<td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Back-end Technology</th><td class="col-md-8">{{app.BackTechnology}}<td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Lifespan</th><td class="col-md-8">{{app.AppLifespan}} years<td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Status</th><td class="col-md-8">{{getStatus(app.AppIsActive)}}<td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">PII</th><td class="col-md-8">{{isPii(app.AppPII)}}<td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Security</th><td class="col-md-8">{{app.AppSecurity}}<td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Version</th><td class="col-md-8">{{app.AppVersion}}<td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Date Implemented</th><td class="col-md-8">{{app.DateImplemented}}<td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Last Production Date</th><td class="col-md-8">{{app.LastProdDate}}<td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="features">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Features</h4>
                            <p>What this app can do?</p>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bs-callout bs-callout-info">
                                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                            <!-- Indicators -->
                                            <ol class="carousel-indicators">
                                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                                <li data-target="#myCarousel" data-slide-to="3"></li>
                                            </ol>

                                            <!-- Wrapper for slides -->
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item active">
                                                    <img src="images/no-image.png" alt="Feature 1" width="460" height="345">
                                                    <div class="item-details">
                                                        <p>Import and export functionality</p>
                                                        <a data-toggle="modal" data-target="#modalFeatureView">See More</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="images/no-image.png" alt="Feature 2" width="460" height="345">
                                                    <div class="item-details">
                                                        <p>Admin view</p>
                                                        <a data-toggle="modal" data-target="#modalFeatureView">See More</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="images/no-image.png" alt="Feature 3" width="460" height="345">
                                                    <div class="item-details">
                                                        <p>Data analytics</p>
                                                        <a data-toggle="modal" data-target="#modalFeatureView">See More</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="images/no-image.png" alt="Feature 4" width="460" height="345">
                                                    <div class="item-details">
                                                        <p>Decision support</p>
                                                        <a data-toggle="modal" data-target="#modalFeatureView">See More</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Left and right controls -->
                                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="modalFeatureView" class="modal fade" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4>Feature</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label>Function</label>
                                                            <p>Some text here...</p>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label>Description</label>
                                                            <p>Some text here...</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="#" class="btn btn-default btn-md" data-dismiss="modal">Close</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="reviews">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><span class="glyphicon glyphicon-comment"></span>&nbsp;Reviews</h4>
                            <p>View latest comments, feedbacks and suggestion from our users.</p>
                        </div>
                        <div class="panel-body">
                            <!--Star Rating, for future development-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bs-callout bs-callout-success">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active" id="tab1">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <fieldset class="rating">
                                                                    <input type="radio" id="star5" name="rating" value="5" checked="checked" disabled/><label for="star5" title="Rocks!">5 stars</label>
                                                                    <input type="radio" id="star4" name="rating" value="4" disabled/><label for="star4" title="Pretty good">4 stars</label>
                                                                    <input type="radio" id="star3" name="rating" value="3" disabled/><label for="star3" title="Meh">3 stars</label>
                                                                    <input type="radio" id="star2" name="rating" value="2" disabled/><label for="star2" title="Kinda bad">2 stars</label>
                                                                    <input type="radio" id="star1" name="rating" value="1" disabled/><label for="star1" title="Sucks big time">1 star</label>
                                                                </fieldset>    
                                                                &nbsp; Wow, this app got perfect score from our users!
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <a class="btn btn-success btn-md pull-right" href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Rate this app &raquo;</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="tab2">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <fieldset class="rating">
                                                                    <input type="radio" id="rate5" name="rate" value="5" /><label for="rate5" title="Rocks!">5 stars</label>
                                                                    <input type="radio" id="rate4" name="rate" value="4" /><label for="rate4" title="Pretty good">4 stars</label>
                                                                    <input type="radio" id="rate3" name="rate" value="3" /><label for="rate3" title="Meh">3 stars</label>
                                                                    <input type="radio" id="rate2" name="rate" value="2" /><label for="rate2" title="Kinda bad">2 stars</label>
                                                                    <input type="radio" id="rate1" name="rate" value="1" /><label for="rate1" title="Sucks big time">1 star</label>
                                                                </fieldset>    
                                                                &nbsp; How much would you rate this app?
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <a class="btn btn-default btn-md pull-right" href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">&laquo; Go back</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="btn btn-default btn-md pull-right" data-toggle="modal" data-target="#modalWriteComment">Write your review&nbsp;<span class="glyphicon glyphicon-edit"></span></a>
                                    <div id="modalWriteComment" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4>Write Review</h4>
                                                    <p>Because we want to hear your voice...</p>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label>Subject</label>
                                                            <input type="text" class="form-control input-sm" maxlength="50"/>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label>Content</label>
                                                            <textarea class="form-control input-sm" style="height:100px;" maxlength="300"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="btn-group">
                                                        <a href="#" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Submit</a>
                                                        <a href="#" class="btn btn-default btn-md" data-dismiss="modal">Close</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <!--Review section-->
                            <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel-group">
                                            <div class="row"><div class="col-md-7">
                                                <div class="bs-callout bs-callout-primary">
                                                    <h4>Amazing!!!</h4>
                                                    <blockquote>
                                                        <p>
                                                            "This application is really awesome..."
                                                        </p>
                                                        <small>
                                                            Peter Mead, March 1, 2017 11:00 P.M.
                                                        </small>
                                                    </blockquote>
                                                </div>
                                            </div></div><br />
                                            <div class="row"><div class="col-md-7 pull-right">
                                                <div class="bs-callout bs-callout-default">
                                                        <h4>Nice</h4>
                                                        <blockquote>
                                                            <p>
                                                                "I love it..."
                                                            </p>
                                                            <small>
                                                                Amy Miscavitch, February 1, 2017 10:00 P.M.
                                                            </small>
                                                        </blockquote>
                                                </div>
                                            </div></div><br />
                                            <div class="row"><div class="col-md-7">
                                                <div class="bs-callout bs-callout-primary">
                                                    <h4>Very nice UI</h4>
                                                    <blockquote>
                                                        <p>
                                                            "Very user-friendly"
                                                        </p>
                                                        <small>
                                                            Peter Mead, January 10, 2017 9:00 P.M.
                                                        </small>
                                                    </blockquote>
                                                </div>
                                            </div></div>
                                        </div>
                                    </div>
                            </div>
                            <!--Pagination-->
                            <div class="row">
                                <div class="col-md-12">
                                    <nav aria-label="...">
                                        <ul class="pager">
                                            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Newer</a></li>
                                            <li class="next"><a href="#">Older <span aria-hidden="true">&rarr;</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>