<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a routerLink="/Applications">Applications Catalog</a></li> 
                <li class="active">{{app.AppName}}</li>
            </ol>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Details</a></li>
                    <li role="presentation"><a href="#features" aria-controls="features" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Features</a></li>
                    <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-comment"></span>&nbsp;Reviews</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <a href="#" class="btn btn-default btn-md dropdown-toggle option-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-export"></span>&nbsp;Export to PDF</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>
<br />
<!--Data-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="details">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Details</h4>
                            <p>About this app.</p>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="pull-left">
                                                            <div *ngIf="false" class="btn btn-circle btn-success btn-xs">
                                                                <span class="glyphicon glyphicon-ok"></span>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="col-md-6">
                                                        <div class="pull-right">
                                                            <fieldset class="favorite">
                                                                <input [(ngModel)]="app.myFav" (change)="myFav(app)" type="checkbox" id="star" name="rating"/><label for="star" title="Mark as Favorite">1 star</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <img src="images/AppLogo.png" class="thumbnail-display-img">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="btn-group pull-right" role="group">
                                                        <button [disabled]="app.canMod==0 || app.IsUatAvail==false"
                                                            (click)="run(app.ModFront)" type="button" class="btn btn-default btn-sm" disabled>Run Test</button>
                                                        <button [disabled]="app.canProd==0" 
                                                            (click)="run(app.OpsFront)" type="button" class="btn btn-default btn-sm">Run Production</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="bs-callout bs-callout-primary">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-hover table-striped">
                                                        <tr>
                                                            <th class="col-md-3">Application Name</th>
                                                            <td class="col-md-9">{{app.AppName}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="col-md-3">Description</th>
                                                            <td class="col-md-9">{{app.AppDesc}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bs-callout bs-callout-default">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>Business Unit Info</h4>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-hover table-striped">
                                                    <tr>
                                                        <th class="col-md-4">BU Owner</th><td class="col-md-8">{{app.BUName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Primary Contact</th><td class="col-md-8">{{app.buContact1}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Secondary Contact</th><td class="col-md-8">{{app.buContact2}}</td>
                                                    </tr>                                                            
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bs-callout bs-callout-info">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>App Info</h4>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-hover table-striped">
                                                    <tr>
                                                        <th class="col-md-4">Front-end Technology</th><td class="col-md-8">{{app.FrontTechnology}}<td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Back-end Technology</th><td class="col-md-8">{{app.BackTechnology}}<td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Lifespan</th><td class="col-md-8">{{app.AppLifespan}} Year(s)<td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Status</th><td class="col-md-8">{{getStatus(app.AppIsActive)}}<td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">PII</th><td class="col-md-8">{{isPii(app.AppPII)}}<td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Security</th><td class="col-md-8">{{app.AppSecurity}}<td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Version</th><td class="col-md-8">{{app.AppVersion}}<td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Date Implemented</th><td class="col-md-8">{{app.DateImplemented}}<td>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-md-4">Last Production Date</th><td class="col-md-8">{{app.LastProdDate}}<td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="features">
                    <ac-feature></ac-feature>
                </div>
                <div class="tab-pane fade" id="reviews">
                    <ac-reviews [appID]="selectedID"></ac-reviews>
                </div>
            </div>
        </div>
    </div>
</div>