<div class="tab-pane fade in active" id="tableBuContact">
    <div class="row">
        <div class="col-md-12">
            <a href="#createBuContact" class="btn btn-default btn-md" 
                aria-controls="createBuContact" role="tab" data-toggle="tab"
                (click)="mainView.toFormView('New',true)">
                New BU Contact <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>
        <div class="col-md-12">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Business Unit Contacts</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bu of mainView.listContact">
                        <td>{{bu.FirstName + ' ' +bu.LastName}}</td>
                        <td>
                            <a href="#createBuContact" class="btn btn-default btn-sm"
                                 aria-controls="createBuContact" role="tab" 
                                 data-toggle="tab">
                                 <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="pagination pull-right">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>