 <div class="tab-pane fade" id="createBuContact">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="#tableBuContact" class="close" 
                aria-controls="tableBuContact" role="tab"
                (click)="mainView.toFormView('New',false,1)"  data-toggle="tab">&times;</a>
            <h4>{{mainView.formMode}} BU Contact</h4>
        </div>
        <div class="panel-body">
            <br />
            <div class="row form-group form-horizontal">
                <div class="col-md-12">
                    <label>First Name</label>
                    <input [(ngModel)]="mainView.selectedContact.FirstName" type="text" class="form-control input-sm" />
                    <br />
                    <label>Middle Name</label>
                    <input [(ngModel)]="mainView.selectedContact.MiddleName" type="text" class="form-control input-sm" />
                    <br />
                    <label>Last Name</label>
                    <input [(ngModel)]="mainView.selectedContact.LastName" type="text" class="form-control input-sm" />
                </div>
            </div>
            <br />
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-right">
                        <a class="btn btn-primary btn-md" (click)="mainView.submitContact()">Submit&nbsp;<span class="glyphicon glyphicon-floppy-disk"></span></a>
                        <a href="#tableBuContact" (click)="mainView.toFormView('New',false,1)"  class="btn btn-default btn-md" aria-controls="tableBuContact" role="tab" data-toggle="tab">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>