
<div class="row">
    <div [ngClass]="thisIndex%2==0?'col-md-7':'col-md-7 pull-right'">
        <div [ngClass]="thisIndex%2==0?'bs-callout bs-callout-primary':'bs-callout bs-callout-default'">
            <h4>{{thiscomment.Subject}}</h4>
            <blockquote>
                <p>
                    {{thiscomment.Comment}}
                </p>
                <small>
                    {{thiscomment.UserName}}, {{thiscomment.DatePosted | date:'medium'}}
                    <!--Peter Mead, March 1, 2017 11:00 P.M.-->
                </small>
            </blockquote>
        </div>
    </div>
</div>


        <!--<div class="row">
            <div class="col-md-7">
                <div class="bs-callout bs-callout-primary">
                    <h4>Amazing!!!</h4>
                    <blockquote>
                        <p>
                            "This application is really awesome..."
                        </p>
                        <small>
                            Peter Mead, March 1, 2017 11:00 P.M.
                        </small>
                    </blockquote>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-7 pull-right">
                <div class="bs-callout bs-callout-default">
                    <h4>Nice</h4>
                    <blockquote>
                        <p>
                            "I love it..."
                        </p>
                        <small>
                            Amy Miscavitch, February 1, 2017 10:00 P.M.
                        </small>
                    </blockquote>
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-7">
                <div class="bs-callout bs-callout-primary">
                    <h4>Very nice UI</h4>
                    <blockquote>
                        <p>
                            "Very user-friendly"
                        </p>
                        <small>
                            Peter Mead, January 10, 2017 9:00 P.M.
                        </small>
                    </blockquote>
                </div>
            </div>
        </div>-->
