
<div class="row">
    <div [ngClass]="thisIndex%2==0?'col-md-7':'col-md-7 pull-right'">
        <div [ngClass]="thisIndex%2==0?'bs-callout bs-callout-primary':'bs-callout bs-callout-default'">
            <h4>{{thiscomment.Subject}}</h4>
            <blockquote>
                <p>
                    {{thiscomment.Comment}}
                </p>
                <small>
                    {{getFullName(thiscomment.UserName)}}, {{thiscomment.DatePosted | date:'medium'}}
                    <!--Peter Mead, March 1, 2017 11:00 P.M.-->
                </small>
            </blockquote>
        </div>
    </div>
</div>

