<!--Data-->
<div class="container">
    <div class="row" *ngFor="let myList of listApps">
        <ac-thumbnail *ngFor="let app of myList" 
            [app]="app" [buName]="getBUName(app.AppBU)"
            [canProd]="getProjectAuth(app.ProjectOpsID)">
        </ac-thumbnail>
    </div>
    <!--<div class="row">
        <div class="col-md-3">
            <a href="#" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Project Plan - Generic">
                <div class="thumbnail">
                    <img src="images/AppLogo.png" class="thumbnail-img">
                    <div class="caption">
                        <p><strong>Project Plan - Generic</strong></p>
                        <p><span class="glyphicon glyphicon-user"></span> Kara Vopalensky</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                <button type="button" class="btn btn-default btn-sm">View Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Project Plan">
                <div class="thumbnail">
                    <img src="images/AppLogo.png" class="thumbnail-img">
                    <div class="caption">
                        <p><strong>Project Plan</strong></p>
                        <p><span class="glyphicon glyphicon-user"></span> Melissa Nei</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                <button type="button" class="btn btn-default btn-sm">View Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="SPRNT Tax">
                <div class="thumbnail">
                    <img src="images/AppLogo.png" class="thumbnail-img">
                    <div class="caption">
                        <p><strong>SPRNT Tax</strong></p>
                        <p><span class="glyphicon glyphicon-user"></span> Melissa Nei</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                <button type="button" class="btn btn-default btn-sm">View Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="SPRNT Tax Team Balancing">
                <div class="thumbnail">
                    <img src="images/AppLogo.png" class="thumbnail-img">
                    <div class="caption">
                        <p><strong>SPRNT Tax Team Balancing</strong></p>
                        <p><span class="glyphicon glyphicon-user"></span> Melissa Nei</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                <button type="button" class="btn btn-default btn-sm">View Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="#" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Vulnerability Tracker">
                <div class="thumbnail">
                    <img src="images/AppLogo.png" class="thumbnail-img">
                    <div class="caption">
                        <p><strong>Vulnerability Tracker</strong></p>
                        <p><span class="glyphicon glyphicon-user"></span> David Rawlings</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                <button type="button" class="btn btn-default btn-sm">View Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Business Technologies Security System">
                <div class="thumbnail">
                    <img src="images/AppLogo.png" class="thumbnail-img">
                    <div class="caption">
                        <p><strong>Business Technologies Security...</strong></p>
                        <p><span class="glyphicon glyphicon-user"></span> Ken Conway</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                <button type="button" class="btn btn-default btn-sm">View Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="TIN Matching">
                <div class="thumbnail">
                    <img src="images/AppLogo.png" class="thumbnail-img">
                    <div class="caption">
                        <p><strong>TIN Matching</strong></p>
                        <p><span class="glyphicon glyphicon-user"></span> Daniel Slawski</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                <button type="button" class="btn btn-default btn-sm">View Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Vantage Tax Team Balancing">
                <div class="thumbnail">
                    <img src="images/AppLogo.png" class="thumbnail-img">
                    <div class="caption">
                        <p><strong>Vantage Tax Team Balancing</strong></p>
                        <p><span class="glyphicon glyphicon-user"></span> Melissa Nei</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                                <button type="button" class="btn btn-default btn-sm">View Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>-->
</div>