<!--Data-->
<div class="container">
    <div class="row" *ngFor="let myList of listApps | paginate : { itemsPerPage: 3,currentPage: p }">
        <ac-thumbnail *ngFor="let app of myList" 
            [app]="app">
        </ac-thumbnail>
    </div>
</div>
<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <!--<ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>-->
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>