<div class="container">
    <div class="row">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th class="col=md-5"><span class="glyphicon glyphicon-book"></span>&nbsp;Application Name</th>
                    <th class="col=md-5"><span class="glyphicon glyphicon-user"></span>&nbsp;Application Owner</th>
                    <th class="col=md-2"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let app of apps">
                    <td>{{app.AppName}}</td>
                    <td>{{app.BUName}}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default btn-sm" type="button"
                            (click)="run(app)" [disabled]="app.canProd==0">Run</button>
                            <button type="button" class="btn btn-default btn-sm" onclick="viewDetails()">View Details</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>