<div class="row" hidden>
    <div class=col-md-12>
        <label>Availability Indicators</label>
        <div class="btn btn-circle btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></div> Available&nbsp;|&nbsp;
        <div class="btn btn-circle btn-warning btn-xs"><span class="glyphicon glyphicon-alert"></span></div> Scheduled Maintenance&nbsp;|&nbsp;
        <div class="btn btn-circle btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></div> Unavailable (System Downtime/Ongoing Maintenance)
    </div>
</div>
<br />
<div class="container">
    <div class="row">
       
        <div class="row">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th class="col-md-1"></th>
                        <th class="col-md-5"><span class="glyphicon glyphicon-book"></span>&nbsp;Application Name</th>
                        <th class="col-md-4"><span class="glyphicon glyphicon-user"></span>&nbsp;Application Owner</th>
                        <th class="col-md-2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let app of apps | paginate: config">
                        <td class="text-center">
                            <div *ngIf="false" class="btn btn-circle btn-success btn-xs">
                                <span class="glyphicon glyphicon-ok"></span>
                            </div>
                            <fieldset class="favorite" >
                                <input (change)="myFav(app)" [(ngModel)]="app.myFav" [id]="app.AppID" type="checkbox" /><label [for]="app.AppID" title="Mark as Favorite">1 star</label>
                            </fieldset>
                        </td>
                        <td>{{app.AppName}}</td>
                        <td>{{app.BUName}}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button (click)="run(app)" [disabled]="app.canProd==0" type="button" class="btn btn-default btn-sm" >Run</button>
                                <button type="button" class="btn btn-default btn-sm" (click)="gotoDetail(app)">View Details</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
<!--Pagination-->
<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
               
                <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
                <pagination-controls [id]="config.id"
                    (pageChange)="onPageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>