<!--HEADER-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="active">Maintenance</li>
            </ol>
        </div>
    </div>
    <h3>Maintenance</h3>
</div>
<!--Container-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active">
                        <a href="#applications" aria-controls="applications" role="tab" data-toggle="tab">Applications</a>
                    </li>
                    <li role="presentation">
                        <a href="#bu" aria-controls="bu" role="tab" data-toggle="tab">Business Units</a>
                    </li>
                    <li role="presentation">
                        <a href="#bucontacts" aria-controls="bucontacts" role="tab" data-toggle="tab">Business Unit Contacts</a>
                    </li>
                    <li role="presentation">
                        <a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">Project Synchronization</a>
                    </li>
                    <li role="presentation">
                        <a href="#users" aria-controls="users" role="tab" data-toggle="tab">Project Users</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 tab-content">
                <!--Applications SECTION-->
                <div class="tab-pane fade in active" id="applications">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <!--List of applications-->
                                <app-list></app-list>
                                <!--New Application-->
                                <app-form></app-form>
                                <!--Edit Application-->
                                <app-form></app-form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Business Unit SECTION-->
                <div class="tab-pane fade" id="bu">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <!--BU LIST-->
                                <bu-list></bu-list>
                                <!--BU FORM-->
                                <bu-form></bu-form>
                                <!--BU EDIT FORM-->
                                <bu-form></bu-form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--BU Contacts SECTION-->
                <div class="tab-pane fade" id="bucontacts">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <!--CONTACTS LIST SECTION-->
                                <contact-list></contact-list>
                                <!--Contact Form Section-->
                                <contact-form></contact-form>
                                 <!--Contact Form Section-->
                                <contact-form></contact-form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Projects SECTION-->
                <div class="tab-pane fade" id="projects">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <proj-sync></proj-sync>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Users SECTION-->
                <div class="tab-pane fade" id="users">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <user-sync></user-sync>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>