<!--HEADER-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="active">Maintenance</li>
            </ol>
        </div>
    </div>
    <h3>Maintenance</h3>
</div>
<!--Container-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active">
                        <a href="#applications" aria-controls="applications" role="tab" data-toggle="tab">Applications</a>
                    </li>
                    <li role="presentation">
                        <a href="#bu" aria-controls="bu" role="tab" data-toggle="tab">Business Units</a>
                    </li>
                    <li role="presentation">
                        <a href="#bucontacts" aria-controls="bucontacts" role="tab" data-toggle="tab">Business Unit Contacts</a>
                    </li>
                    <li role="presentation">
                        <a href="#bucontacts" aria-controls="bucontacts" role="tab" data-toggle="tab">Project Synchronization</a>
                    </li>
                    <li role="presentation">
                        <a href="#bucontacts" aria-controls="bucontacts" role="tab" data-toggle="tab">Project Users</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 tab-content">
                <!--Applications SECTION-->
                <div class="tab-pane fade in active" id="applications">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <!--List of applications-->
                                <app-list></app-list>
                                <!--New Application-->
                                <app-form></app-form>
                                <!--Edit Application-->
                                <app-form></app-form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Business Unit SECTION-->
                <div class="tab-pane fade" id="bu">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <!--BU LIST-->
                                <bu-list></bu-list>
                                <!--BU FORM-->
                                <bu-form></bu-form>
                                <!--BU EDIT FORM-->
                                <bu-form></bu-form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--BU Contacts SECTION-->
                <div class="tab-pane fade" id="bucontacts">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <!--CONTACTS LIST SECTION-->
                                <div class="tab-pane fade in active" id="tableBuContact">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="#createBuContact" class="btn btn-default btn-md" aria-controls="createBuContact" role="tab" data-toggle="tab">
                                                New BU Contact <span class="glyphicon glyphicon-plus-sign"></span>
                                            </a>
                                        </div>
                                        <div class="col-md-12">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Business Unit Contacts</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Amy Miskavitch</td>
                                                        <td><a href="#updateBuContact" class="btn btn-default btn-sm" aria-controls="updateBuContact" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-edit"></span></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Michael Petrowski</td>
                                                        <td><a href="#updateBuContact" class="btn btn-default btn-sm" aria-controls="updateBuContact" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-edit"></span></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Peter Mead</td>
                                                        <td><a href="#updateBuContact" class="btn btn-default btn-sm" aria-controls="updateBuContact" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-edit"></span></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Melissa Nei</td>
                                                        <td><a href="#updateBuContact" class="btn btn-default btn-sm" aria-controls="updateBuContact" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-edit"></span></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Brent Morrison</td>
                                                        <td><a href="#updateBuContact" class="btn btn-default btn-sm" aria-controls="updateBuContact" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-edit"></span></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Austin Mitchel</td>
                                                        <td><a href="#updateBuContact" class="btn btn-default btn-sm" aria-controls="updateBuContact" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-edit"></span></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Kristen Flaherty</td>
                                                        <td><a href="#updateBuContact" class="btn btn-default btn-sm" aria-controls="updateBuContact" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-edit"></span></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sherrie Green</td>
                                                        <td><a href="#updateBuContact" class="btn btn-default btn-sm" aria-controls="updateBuContact" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-edit"></span></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Kara Vopalensky</td>
                                                        <td><a href="#updateBuContact" class="btn btn-default btn-sm" aria-controls="updateBuContact" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-edit"></span></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>David Rawlings</td>
                                                        <td><a href="#updateBuContact" class="btn btn-default btn-sm" aria-controls="updateBuContact" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-edit"></span></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="pagination pull-right">
                                                <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--Contact Form Section-->
                                <div class="tab-pane fade" id="createBuContact">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <a href="#tableBuContact" class="close" aria-controls="tableBuContact" role="tab" data-toggle="tab">&times;</a>
                                            <h4>New BU Contact</h4>
                                        </div>
                                        <div class="panel-body">
                                            <br />
                                            <div class="row form-group form-horizontal">
                                                <div class="col-md-12">
                                                    <label>First Name</label>
                                                    <input type="text" class="form-control input-sm" />
                                                    <br />
                                                    <label>Middle Name</label>
                                                    <input type="text" class="form-control input-sm" />
                                                    <br />
                                                    <label>Last Name</label>
                                                    <input type="text" class="form-control input-sm" />
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="btn-group pull-right">
                                                        <a class="btn btn-primary btn-md">Submit&nbsp;<span class="glyphicon glyphicon-floppy-disk"></span></a>
                                                        <a href="#tableBuContact" class="btn btn-default btn-md" aria-controls="tableBuContact" role="tab" data-toggle="tab">Go Back</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <!--Contact Form Section-->
                                <div class="tab-pane fade" id="updateBuContact">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <a href="#tableBuContact" class="close" aria-controls="tableBuContact" role="tab" data-toggle="tab">&times;</a>
                                            <h4>Update Information</h4>
                                        </div>
                                        <div class="panel-body">
                                            <br />
                                            <div class="row form-group form-horizontal">
                                                <div class="col-md-12">
                                                    <label>First Name</label>
                                                    <input type="text" class="form-control input-sm" />
                                                    <br />
                                                    <label>Middle Name</label>
                                                    <input type="text" class="form-control input-sm" />
                                                    <br />
                                                    <label>Last Name</label>
                                                    <input type="text" class="form-control input-sm" />
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="btn-group pull-right">
                                                        <a class="btn btn-primary btn-md">Submit&nbsp;<span class="glyphicon glyphicon-floppy-disk"></span></a>
                                                        <a href="#tableBuContact" class="btn btn-default btn-md" aria-controls="tableBuContact" role="tab" data-toggle="tab">Go Back</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>