<!--<div class="container">
  <h2>Administrator Page</h2>
  <tabset>
    <tab heading="Projects">
      Tab 1 content
    </tab>
    <tab heading="Users">
      Tab 2 content
    </tab>
    <tab heading="Applications">
      Tab 2 content
    </tab>
    <tab heading="Business Units">
      Tab 2 content
    </tab>
    <tab heading="BU Contacts">
      Tab 2 content
    </tab>
  </tabset>
</div>-->

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li><a href="/Sync">New Projects From OLD BTSS</a></li>
        <li><a routerLink="/Users">Users <span class="sr-only"></span></a></li>
        <li><a routerLink="/Application-Maintenance">Applications <span class="sr-only"></span></a></li>
        <li><a routerLink="/BusinessUnits">Business Units <span class="sr-only"></span></a></li>
        <li><a routerLink="/BUContacts">Business Unit Contacts <span class="sr-only"></span></a></li>

    </ul>
</div><!-- /.navbar-collapse -->