<div>
    <button class="btn btn-default btn-sm" [disabled]="!progress==0" (click)="getProjects()" type="button" >Refresh Projects</button>
    
    <button class="btn btn-default btn-sm" [disabled]="!progress==0" (click)="initUserSync()" type="button" >Get Users</button>
    
    <progressbar [max]="100" [value]="checkProgress">
        <span style="color:white; white-space:nowrap;">total progress : {{checkProgress}} / {{100}}</span>
    </progressbar>
    <!--{{checkProgress}}-->
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>DataSource</th>
                <th>DatabaseName</th>
                <th>Users</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <td>{{project.ProjectName}}</td>
                <td>{{project.ProjectDatasource}}</td>
                <td>{{project.ProjectDb}}</td>
                <td>{{project.ProjectSyncStatus}}<td>
            </tr>
        </tbody>
    </table>    
</div>

