<div>
    <button class="btn btn-default btn-sm" [disabled]="!progress==0" (click)="ngOnInit()" type="button" >Refresh Projects</button>

    <button class="btn btn-default btn-sm" [disabled]="!progress==0" (click)="initUserSync()" type="button" >Get Users</button>
    <br />
    <progressbar [max]="100" [value]="checkProgress">
        <span style="color:white; white-space:nowrap;">total progress : {{checkProgress}} / {{100}}</span>
    </progressbar>
    <!--{{checkProgress}}-->
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>DataSource</th>
                <th>DatabaseName</th>
                <th>Users</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects | paginate : { itemsPerPage: 10 ,currentPage: p } ">
                <td>{{project.ProjectName}}</td>
                <td>{{project.ProjectDatasource}}</td>
                <td>{{project.ProjectDb}}</td>
                <td>{{getUser(project.ProjectSyncStatus)}}<td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
