<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>Write Review</h4>
            <p>Because we want to hear your voice...</p>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <label>Subject</label>
                    <input type="text" class="form-control input-sm" maxlength="50"/>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label>Content</label>
                    <textarea class="form-control input-sm" style="height:100px;" maxlength="300"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-group">
                <a href="#" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Submit</a>
                <a href="#" class="btn btn-default btn-md" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>