<div class="col-md-3">
    <a class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Operations Scorecard">
        <div class="thumbnail" id="tmb1">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="pull-left">
                            <div class="btn btn-circle btn-success btn-xs">
                                <span class="glyphicon glyphicon-ok"></span>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="pull-right">
                            <fieldset class="favorite">
                                <input type="checkbox" id="star1" name="rating1"/><label for="star1" title="Mark as Favorite">1 star</label>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <img src="images/AppLogo.png" class="thumbnail-img">
            <div class="caption">
                <p><strong>{{app.AppName}}</strong></p>
                <p><span class="glyphicon glyphicon-user"></span>{{app.BUName}}</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-right" role="group">
                        <button class="btn btn-default btn-sm" type="button"
                            (click)="run()" [disabled]="app.canProd==0">Run</button>
                        <button type="button" class="btn btn-default btn-sm" onclick="viewDetails()">View Details</button>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>