<div class="tab-pane fade"  id="createBu">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="#tableBu" class="close" 
                aria-controls="tableBu" role="tab" 
                (click)="mainView.toFormView('New',false,0)" 
                data-toggle="tab">&times;</a>
            <h4>{{mainView.formMode}} Business Unit</h4>
        </div>
        <div class="panel-body">
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label>Business Unit Name</label>
                    <input type="text" required [(ngModel)]="mainView.selectedBU.BUName" class="form-control input-sm" />
                </div>
            </div>
            <br />
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-right">
                        <a class="btn btn-primary btn-md" (click)="mainView.submitBU()">Submit&nbsp;<span class="glyphicon glyphicon-floppy-disk"></span></a>
                        <a href="#tableBu" (click)="mainView.toFormView('New',false,0)" class="btn btn-default btn-md" aria-controls="tableBu" role="tab" data-toggle="tab">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>