<div [hidden]="newApps.length==0">
    <button class="btn btn-default btn-sm" type="button" [disabled]="!newApps.length>0" (click)="saveNewApplications(newApps)">Add to Projects</button>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Datasource</th>
                <th>Database Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let app of newApps">
                <td>{{app.ProjectName}}</td>
                <td>{{app.ProjectDatasource}}</td>
                <td>{{app.ProjectDatabaseName}}</td>
            </tr>
        </tbody>
    </table>    
</div>
<div [hidden]="!newApps.length==0">
    no new applications found
</div>

